@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-color);
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--bg-primary-color);
  overflow-x: hidden;
}

.main-content {
  padding-bottom: 90px; // Spacing for BottomNav
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
}