@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--text-primary-color);
}

body {
  background-color: var(--bg-primary-color);
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
