@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  overflow-x: hidden;
}

.main-content {
  padding-bottom: 90px; // Spacing for BottomNav
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font: inherit;
}

// Import page styles
@import "../pages/cart/cart-page.scss";
@import "../pages/checkout/checkout-page.scss";
@import "../pages/orders/orders-page.scss";
@import "../pages/profile/profile-page.scss";
@import "../pages/bank-cards/bank-cards-page.scss";

// Import component styles
@import "../components/payment-modal/payment-modal.scss";
@import "../components/add-card-modal/add-card-modal.scss";
@import "../components/success-modal/success-modal.scss";