:root {
  --text-primary-color: var(--tg-theme-text-color, #ffffff);
  --bg-primary-color: var(--tg-theme-bg-color, #191918);
  --bg-secondary-color: var(--tg-theme-secondary-bg-color, #242423);
  --accent-color: #3ab64e;
  --accent-color-hover: #2e913e;
  --card-bg: var(--tg-theme-secondary-bg-color, #302f2d);
  --color-white: #fff;
  --price-color: var(--accent-color);
  --text-gray: var(--tg-theme-hint-color, #9e9b98);
  --card-btn-bg: var(--tg-theme-secondary-bg-color, #42413e);
}