:root {
  --text-primary-color: var(--tg-theme-text-color, #e0deda);
  --bg-primary-color: var(--tg-theme-bg-color, #191918);
  --card-bg: var(--tg-theme-secondary-bg-color, #302f2d);
  --color-white: #fff;
  --price-color: var(--tg-theme-button-color, #fa6a3c);
  --text-gray: var(--tg-theme-hint-color, #9e9b98);
  --card-btn-bg: var(--tg-theme-secondary-bg-color, #42413e);
}
