.card {
  height: 316px;
  padding: 8px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--card-bg);

  &__image-wrap {
    height: 170px;
    border-radius: 18px;
    background-color: var(--color-white);
    overflow: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    margin-bottom: 8px;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    max-width: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &__description {
    padding: 0 6px;
    margin-bottom: 8px;
  }

  &__price {
    color: var(--price-color);
    font-size: 16px;
    white-space: nowrap;
    margin-right: 4px;
  }

  &__price-old {
    font-size: 11px;
    color: var(--text-gray);
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: 0.11px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      border-bottom: solid 1px var(--text-gray);
      position: absolute;
      top: 50%;
      z-index: 1;
      pointer-events: none;
    }
  }

  &__name {
    margin: 4px 0;
    margin: 4px 0;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    font-weight: normal;
    -webkit-line-clamp: 2;
    line-height: 15px;
    color: var(--text-primary-color);
  }

  &__measure {
    font-weight: 500;
    letter-spacing: 0.11px;
    font-size: 11px;
    color: var(--text-gray);
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__btn {
    height: 36px;
    background-color: var(--card-btn-bg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary-color);
    position: relative;

    &::after {
      content: "";
      height: 100%;
      left: 0;
      border-radius: 16px;
      pointer-events: none;
      position: absolute;
      transition: background 0.2s;
      width: 100%;
      z-index: 0;
    }

    &:active::after {
      background-color: color(display-p3 0.960144 0.956909 0.949715 / 0.2);
    }
  }

  &__counter {
    width: 100%;
    height: 36px;
    background-color: var(--card-btn-bg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__counter-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      height: 100%;
      left: 0;
      border-radius: 16px;
      pointer-events: none;
      position: absolute;
      transition: background 0.2s;
      width: 100%;
      z-index: 0;
    }

    &:active::after {
      background-color: color(display-p3 0.960144 0.956909 0.949715 / 0.2);
    }
  }
}
