.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: var(--bg-primary-color);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  //white mode
  // box-shadow: 0 6px 4px -4px rgba(0,0,0,.051);

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 8px;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  &__btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 8px 12px;
  }
}
