.navbar {
  height: 48px;

  &__swiper {
    .swiper-slide {
      height: 40px;
      width: min-content;
    }
  }

  &__item {
    padding: 0 12px;
    height: 40px;
  }

  &__btn {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    line-height: 17px;
    color: var(--text-primary-color);
    opacity: 0.4;
    white-space: nowrap;
    transition-duration: 200ms;
    transition-property: all;
    border-bottom: 2px solid transparent;

    &[data-active="true"] {
      font-weight: 500;
      opacity: 1;
      border-bottom-color: var(--text-primary-color);
    }
  }
}
